@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@100&display=swap');

body {
    background-color: #7A8584;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#logo_link {
    justify-self: center;
    align-self: center;
    grid-column: 1/2;
}
nav {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    justify-self: left;
    align-self: center;
    grid-column: 2/3;
}
nav a {
    text-decoration: none;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 50px;
    color: black;
}
.resume-card {
    top: 300px;
    bottom: 0;
    left: 500px;
    right: 0;
}